html{
    
    background:url('http://www.wallsave.com/wallpapers/1920x1200/radio-nature/889125/radio-nature-man-with-old-receiver-at-royalty-free-stock-photo-889125.jpg') no-repeat center center;
    min-height:100%;
    background-size:cover;
    
}

input:focus, textarea:focus {
    outline: none;
}

/* Search Box One */ 

.inputone {
    
    border-color:#fff;
    background-color: transparent; 
    border-left-color:#fff;
    border-top-color:#fff;
    
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    
    height: 5%;
    width: 20%;
    margin: 6px;
    
    position:absolute;
    left:40%;
    top:45%;
    
    
    
    color:#fff; 
    font-size: 15%;
    text-indent: 2%;
    
    
}


/* Search Box two */

.inputtwo {
    
    border-color:#fff;
    background-color: transparent; 
    border-left-color:#fff;
    border-top-color:#fff;
    
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    
    height: 5%;
    width: 20%;
    margin: 6px;
    
    position:absolute;
    left:40%;
    top:54%;
    
    
    
    color:#fff; 
    font-size: 28px;
    text-indent: 2%;
    
    
} 

/* Top menu Bar */

#topbar {
    
    float:left;
    
    position:absolute;
    z-index:9999;
    float:left;
    background-color:#B0B0B0; 
    height: 5%;
    width: 120%;
    border-color:#B0B0B0;
    border:none;
    margin:none;
    
    top:-1%;
    
} 

/* login username field */

.username {
    
    background-color:transparent;
    border-color:transparent;
    
  
/* login password field */
    
}


.password {
    
    background-color:transparent;
    border-color: transparent; 
} 

#logo {
    
    position:absolute;
    z-index: 1;
    
    height: 30px;
    width: 30px;
    background-image:url('http://i.imgur.com/XshZdBb.png');
    
} 

/* Breadcrumb text above search boxes */

#hotspot {
    
   font-family:  "verdana", sans-serif;
    
    color:#fff;
    font-size: 25%;
    

    position: absolute;
    left:33%;
    top:30%;
    
    
    
    
    
}