html{
    
    background:url('http://www.wallsave.com/wallpapers/1920x1200/radio-nature/889125/radio-nature-man-with-old-receiver-at-royalty-free-stock-photo-889125.jpg') no-repeat center center;
    min-height:100%;
    background-size:cover;
    
}

.input {
    
    border-color:#fff;
    background-color: transparent; 
    
    border-top-left-radius: 10px 5px;
    border-top-right-radius: 10px 5px;
    border-bottom-left-radius: 10px 5px;
    border-bottom-right-radius: 10px 5px;
    
    height: 15px;
    width: 40px;
    padding: 10px;
    
    color:#fff; 
    font-size: 28px;
    
    
}

#search {
    
   
    
    position: relative;
    top: 65%; 
    left: 50%; 
    
    
    
} 