html{
    
    background:url('background.png') no-repeat center center;
    min-height:100%;
    background-size:cover;
    
}

input:focus, textarea:focus {
    outline: none;
}

/* Search Box One */ 

.inputone {
    
    border-color:#fff;
    background-color: transparent; 
    border-left-color:#fff;
    border-top-color:#fff;
    
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    
    height: 5%;
    width: 20%;
    margin: 6px;
    
    position:absolute;
    left:40%;
    top:45%;
    
    
    
    color:#fff; 
    font-size: 28px;
    text-indent: 2%;
    
    
}


/* Search Box two */

.inputtwo {
    
    border-color:#fff;
    background-color: transparent; 
    border-left-color:#fff;
    border-top-color:#fff;
    
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    
    height: 5%;
    width: 20%;
    margin: 6px;
    
    position:absolute;
    left:40%;
    top:54%;
    
    
    
    color:#fff; 
    font-size: 28px;
    text-indent: 2%;
    
    
} 

/* Top menu Bar */

#topbar {
    
    float:left;
    
    position:absolute;
    z-index:1;
    float:left;
    background-color:#B0B0B0; 
    height: 6%;
    width: 120%;
    border-color:#B0B0B0;
    border:none;
    margin:none;
    
    top:-1%;
    left:-3%;
    
} 

/* login username field */

.username {
    
    background-color:transparent;
    border-color:transparent;
    
  
/* login password field */
    
}


.password {
    
    background-color:transparent;
    border-color: transparent; 
} 

.logo {
    
    position:absolute;
    z-index: 2;
    
    height: 40px;
    width: 40px;
    
    
} 

/* Breadcrumb text above search boxes */

#hotspot {
    
   font-family:  "verdana", sans-serif;
   background-color:#fff; 
    color:#fff;
    font-size: 40px;
    opacity:60%;

    position: absolute;
    left:33%;
    top:30%;   
    
}



#login {
    
 float:right;
 margin-top:5px; 
 font-size:20px; 
}


#breadcrumb {
    
    float:right;
    
    height: 6%;
    width: 15%;
    
    
}

#breadcrumb a.hover {
    
    background-color:#BBBBBB;
    
}


