html{
    
    background:url('http://www.wallsave.com/wallpapers/1920x1200/radio-nature/889125/radio-nature-man-with-old-receiver-at-royalty-free-stock-photo-889125.jpg') no-repeat center center;
    min-height:100%;
    background-size:cover;
    
}

.input {
    
    border-color:#fff;
    background-color: transparent; 
    
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    
    height: 5%;
    width: 15%;
    margin: 6px;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    position:relative;
    top:60%;
    
    
    color:#fff; 
    font-size: 28px;
    
    
}

#topbar {
    
    float:left;
    background-color:#B0B0B0; 
    height: 5%;
    width: 100%;
    border-color:#B0B0B0;
    
    
} 

.username {
    
    background-color:transparent;
    border-color:transparent;
    
    
}


.password {
    
    background-color:transparent;
    border-color: transparent; 
} 

#logo {
    
    
    height: 30px;
    width: 30px;
    background-image:url('http://i.imgur.com/XshZdBb.png');
    
} 


#hotspot {
    
    color:#fff;
    font-size: 40px;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    vertical-align:middle;
    
    
    
    
    
    
}