html{
    
    background:url('background.png') no-repeat center center;
    background: linear-gradient(top, #000, #fff);
    min-height:100%;
    background-size:cover;
    
}

input:focus, textarea:focus {
    outline: none;
}

/* Search Box One */ 

#yourSearch  {
    
  /*  border: 2px solid;
    
    border-color:#000;
    background-color: 6E6E6E; 
    background: rgba(50, 50, 50, .7);
    border-bottom-color:transparent;
    
    height: 10%;
    width: 30%;
    margin: 6px;
    
    position:absolute;
    left:37%;
    top:35%;
    
    
    
    color:#fff; 
    font-size: 1.6vw;
    text-indent: 4%;
    
    font-family:  "verdana", sans-serif;*/
    
   
    
}


/* Search Box two */

.inputtwo {
    
    border: 2px solid #DDD;
    border-radius: 5px;
    border-color:#000;
    background-color: 6E6E6E; 
    background: #FFF;
    padding: 5px;
    
    
  
    
    width: 400px;
    margin: 6px;

	margin: 0px auto;
    
    
    
    color:#fff; 
    font-size: 1.6vw;
    text-indent: 4%;
    
    font-family:  "verdana", sans-serif;
    
     
    
    
} 

/* Top menu Bar */

#topbar {
    
    float:left;
    
    position:absolute;
    z-index:1;
    background-color:#6E6E6E; 
    height: 45px;
    box-shadow: 0px 0px 4px #000;
    width: 100%;
    border-color:#6E6E6E;
    border:none;
    margin:none;
    top:0px;
    
} 

/* login username field */

.username {
    
    font-size: 14px;
    background-color:#fff;
    border-color:transparent;
    z-index:50;
    padding-left: 10px;
    height:30px;

    width:190px;
    margin-top:8px;       
    border-radius: 5px;

  
/* login password field */
    
}


.password {
    
    font-size: 14px;
    float:right;
    background-color:#fff;
    border-color:transparent;
    z-index:50;
    padding-left: 10px;
    height:30px;
    margin-top:8px;
    width:190px;
        
    border-radius: 5px;
} 

.logo {
    
    margin-top:-5px;
    position:absolute;
    z-index: 2;
    
    height: 30px;
    width: 65px;
    
    
} 

/* Breadcrumb text above search boxes */

#hotspot {
    
   font-family:  "verdana", sans-serif;
 
    color:#fff;
    font-size: 40px;
    
    position: absolute;
    left:33%;
    top:30%;   
    
}



#login {

 position:absolute;
 display:block;
 left:94%;
 top:-3%;
 font-size:36px; 
 color:#fff;
 z-index:30;
    
 
}

#login:hover {
    
 position:absolute;
 display:block;
 left:94%;
 top:-3%;
 font-size:36px; 
 color:#D4D4D4;
 z-index:30;
    
}


#breadcrumb {
    
   position:relative;
   background-color:#6E6E6E;
    
    z-index:40;
    float:right;
    
    height: 73px;
    width: 12%; 
    top:-2%;
    right:-2%;
    
    
}

#breadcrumb:hover {
    
    
    position:relative;
    background-color:#BBBBBB;
    z-index:40; 

}

#box {
    
  /*  height:100%;
    width:100%;
    
    background-color:#BBBBBB;
    opacity:0.7;
    position:absolute;
    left:0%;
    top:3%;
    */
    
    
}

.submitbutton {
    
      content:'search';
      font-size: 2.0vw;
      cursor:pointer;
      color:#fff;
      height: 60px;
      width: 30%;
      font-family:  "verdana", sans-serif;
        
       margin: 0;
       padding: 0;
       background: #00A5D9 url(image) 0 0 no-repeat; 
       border: none;
    
}

.submitbutton:hover {
    
    background: #0286B0 url(image) 0 0 no-repeat;
}


.infologo {
    

    width: 25px;
    height:25px;
    margin-top:-24.5px;
   
    
    
    
} 




span{
    width:380px;
    background: rgba(50, 50, 50, .7);
    color: #fff;
    height: 25px;
    letter-spacing: 1px;
    position: relative;
    text-align: left;
    top: 20px;
    right:360px;
    display:none;
    padding-top:20px;
    font-size: 0.9vw;
    text-indent:1.55%;
    border-color:#000;
    border: 1px solid;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    
    
} 
   
    

}
p{
    position:absolute; 
    width: 25px;
    height:25px;
    right:1%;
    z-index:100;
    top:1.55%;
    cursor:pointer;
 
}

p:hover span{
    display:block;
}

.login {
    
     content:'';
      font-size: 0vw;
      height: 0px;
      width: 0px;
       margin: 0;
       padding: 0;
       border: none;
    
} 

.user {
    
    position: absolute;
    z-index:105;
    font-size:1vw;
    left: 80%;
    color:#fff; 
    font-family:  "verdana", sans-serif;
    margin-top:-27.5px;
    
}

.logout {
    
    margin-top:-35px;
    margin-left:-90px;
    position:absolute;
      font-size: 1vw;
      height: 40px;
      width: 100px;
       border: none;
       font-family:  "verdana", sans-serif;
    z-index:206;
    color:#fff;
    left:90%;
    background-color:transparent; 
    
}

.logout:hover {
 
    color:lightblue;
}

.newgroup {
    
     
      content:'';
      font-size: 0.8vw;
      cursor:pointer;
      color:#fff;
      height: 25px;
      width: 6%;
      font-family:  "verdana", sans-serif;
    
      position:absolute;
      left:92%;
      top:0.3%;
    
       margin: 0;
       padding: 0;
       background: #00A5D9 url(image) 0 0 no-repeat; 
       border: none;
    z-index:207;
    
      border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    
    
    
    
}


.inputBox3
{
	width: 400px; 
	height: 40px;
	margin: 5px;
	padding: 5px;
	border-radius: 10px;
	border: 1px solid #CCC;
	padding-left: 10px;
	box-shadow: inset 0px 0px 2px #000;
}